{% extends 'base.html' %}

{% block head %}
<title>Menu Customer</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Menu Customer</h1>
    <fieldset>
        <legend>Transactions</legend>
    <form action="/customer/app/transaction" method = "POST"> 

        <br>
        First name:  
        <input type="text" id="transactionfirstname" name="transactionfirstname" placeholder="Joe" >
        <br>
        Last name:   
        <input type="text" id="transactionlastname" name="transactionlastname" placeholder="Smith " >
        <br>
        <br>
        Type of Account:
        <br>
        <input type="radio" id="typeofaccount1" name="actype" value="currents">
        <label for="currents">Current</label><br>
        <input type="radio" id="typeofaccount2" name="actype" value="savings">
        <label for="savings">Saving</label><br>
        Value:
        <br>
        <input type="text" id="valuetransaction" name="valuetransaction" placeholder="500"  >
        <br>
        <input type="submit" value="Validate">
        <br>
        {% if error %}
        <p class="error"><strong></strong> {{ error }}
        {% endif %}
        <br><br>
        List:
        <br>
        <input type="checkbox" id="balances" name="balances" value="Balances">
        <label for="Balances"> Balances</label><br>
    </form>
    </fieldset>    
</div>
{% endblock %}