{% extends 'base.html' %}

{% block head %}
<title>Menu Employee</title>
{% endblock %}

{% block body %}
<div class="content">
   
    <h1 style="text-align: center">Menu Employee</h1>
    <fieldset>
        <legend>Create Customers</legend>
        <form action="/employee/app/create" method = "POST"> 
            <br>
            First name:  
            <input type="text" id="createfirstname" name="createfirstname" placeholder="Joe" >
            <br>
            Last name:   
            <input type="text" id="createlastname" name="createlastname" placeholder="Smith " >
            <br>
            email:
            <input type="text" id="email" name="email" placeholder="joesmith@gmail.com" >
            <br>
            <input type="submit" value="Create">
            <br>
            {% if error1 %}
            <p class="error"><strong></strong> {{ error1 }}
            {% endif %}
            <br>
        </form>
    </fieldset>
    <fieldset>
    <legend>Delete Customers</legend>
    <form action="/employee/app/delete" method = "POST">

        First name:  
        <input type="text" id="deletefirstname" name="deletefirstname" placeholder="Joe" >
        <br>
        Last name:   
        <input type="text" id="deletelastname" name="deletelastname" placeholder="Smith " >
        <br>
        <input type="submit" value="Delete">
        <br>
        {% if error2 %}
        <p class="error"><strong></strong> {{ error2 }}
        {% endif %}
        <br>
    </form>
    </fieldset> 
    <fieldset>
    <legend>Transactions:</legend>
    <form action="/employee/app/transaction" method = "POST"> 

        <br>
        First name:  
        <input type="text" id="transactionfirstname" name="transactionfirstname" placeholder="Joe" >
        <br>
        Last name:   
        <input type="text" id="transactionlastname" name="transactionlastname" placeholder="Smith " >
        <br>
        <br>
        Type of Account:
        <br>
        <input type="radio" id="typeofaccount1" name="actype" value="currents">
        <label for="currents">Current</label><br>
        <input type="radio" id="typeofaccount2" name="actype" value="savings">
        <label for="savings">Saving</label><br>
        Value:
        <br>
        <input type="text" id="valuetransaction" name="valuetransaction" placeholder="500"  >
        <br>
        <input type="submit" value="Validate">
        <br>
        {% if error3 %}
        <p class="error"><strong></strong> {{ error3 }}
        {% endif %}
        <br>
        <br>
    </fieldset>
    <fieldset>
        <legend>List:</legend>
        <br>
        <input type="checkbox" id="balances" name="balances" value="Balances">
        <label for="Balances"> Balances</label><br>
        <table style='width: 100%;'>
            <tr>
                <th>PIN</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Accounts Code</th>
                <th>Type of Account</th>
            </tr>
        </table>
    </form>
    </fieldset>
    

</div>
{% endblock %}