{% extends 'base.html' %}

{% block head %}
<title>Menu Employee</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Menu Employee</h1>
    
    <form action="/employee/app/create" method = "POST"> 
        Create Customers:
        <br>
        First name:  
        <input type="text" id="createfirstname" name="createfirstname" placeholder="Joe" >
        <br>
        Last name:   
        <input type="text" id="createlastname" name="createlastname" placeholder="Smith " >
        <br>
        email:
        <input type="text" id="email" name="email" placeholder="joesmith@gmail.com" >
        <br>
        <input type="submit" value="Create">
        <br>
        {% if error %}
        <p class="error"><strong></strong> {{ error }}
        {% endif %}
        <br>
    </form>
    <form action="/employee/app/delete" method = "POST">
        <br>
        Delete Customers:
        <br>
        First name:  
        <input type="text" id="deletefirstname" name="deletefirstname" placeholder="Joe" >
        <br>
        Last name:   
        <input type="text" id="deletelastname" name="deletelastname" placeholder="Smith " >
        <br>
        <input type="submit" value="Delete">
        <br>
        {% if error %}
        <p class="error"><strong></strong> {{ error }}
        {% endif %}
        <br>
    </form>
    <form action="/employee/app/transaction" method = "POST"> 
        <br>
        Transactions:
        <br>
        First name:  
        <input type="text" id="transactionfirstname" name="transactionfirstname" placeholder="Joe" >
        <br>
        Last name:   
        <input type="text" id="transactionlastname" name="transactionlastname" placeholder="Smith " >
        <br>
        <br>
        Type of Account:
        <br>
        <input type="radio" id="typeofaccount1" name="actype" value="currents">
        <label for="currents">Current</label><br>
        <input type="radio" id="typeofaccount2" name="actype" value="savings">
        <label for="savings">Saving</label><br>
        Value:
        <br>
        <input type="text" id="valuetransaction" name="valuetransaction" placeholder="500"  >
        <br>
        <input type="submit" value="Validate">
        <br>
        {% if error %}
        <p class="error"><strong></strong> {{ error }}
        {% endif %}
        <br>
        <br>
        List:
        <br>
        <input type="checkbox" id="balances" name="balances" value="Balances">
        <label for="Balances"> Balances</label><br>
    </form>

</div>
{% endblock %}