{% extends 'base.html' %}

{% block head %}
<title>Login Customer</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Login Customer</h1>
    
    <form action="/customer/app" method = "POST">  
        First name:  
        <input type="text" id="firstname" name="firstname" placeholder="Joe" required>
        <br>
        Last name:   
        <input type="text" id="lastname" name="lastname" placeholder="Smith " required>
        <br>
        PIN:
        <input type="text" id="pin" name="pin" placeholder="1019"  required minlength="4" maxlength="4">
        <br>
        Account number:
        <input type="text" id="numaccount" name="numaccount" placeholder="js-8-10-19"  required minlength="10" maxlength="10">
        <br>
        <input type="submit" value="Submit">
    </form>
        
</div>
{% endblock %}